@import url("https://fonts.googleapis.com/css?family=VT323");

body {
    margin-bottom: 60px;
}

h1 {
    font-family: "VT323", sans-serif;
    font-size: 80px;
    text-transform: lowercase;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
